@import "../partials/color_pallete";
@import "../partials/font_style";
@import "../components/form";
@import "../components/button";
@import "../components/body";
@import "../components/card";
@import "../components/header";

* {
	box-sizing: border-box;
}

body {
	background-color: $primary-theme-color-2;
	color: $primary-font-color;
	font-family: $primary-font-family;
	height: 100vh;
	margin: 0;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 100px;
}
