$primary-theme-color-1: #4c2885;
$primary-theme-color-2: #2a2a72;
$primary-theme-color-3: #373b69;

$primary-font-color: #fff;

$card-font-bookInfo: #eee;

$search-font-placeholder: #bbb;

$overview-bg-color: #fff;
$overview-font-color: #000;
